/* 1. exercice-flex */
.exercice-flex .container {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
/* 2. exercice-flex-2 */
.exercice-flex-2 .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*3. exercice-align-content-1 */
.exercice-align-content-1 .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-content: center;
}
/*4. exercice-align-content-2 */
.exercice-align-content-2 .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/*5. exercice-align-content-3 */
.exercice-align-content-3 .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-content: space-between;
}
/*6. exercice-flex-grow-1 */
.exercice-flex-grow-1 .container {
  display: flex;
  flex-direction: row;
}

.exercice-flex-grow-1 .element-red {
  flex-grow: 1;
}
/*7. exercice-flex-grow-2 */
.exercice-flex-grow-2 .container {
  display: flex;
  flex-direction: column;
}

.exercice-flex-grow-2 .element-green {
  flex-grow: 1;
}
/*8. exercice-flex-grow-3 */
.exercice-flex-grow-3 .container {
  display: flex;
  flex-direction: row;
}

.exercice-flex-grow-3 .element-green,
.exercice-flex-grow-3 .element-red,
.exercice-flex-grow-3 .element-blue {
  flex-grow: 1;
}
/*8. exercice-all-in */
.exercice-all-in .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-content: center;
}

.exercice-all-in .element-red,
.exercice-all-in .element-blue,
.exercice-all-in .element-green,
.exercice-all-in .element-yellow,
.exercice-all-in .element-gray,
.exercice-all-in .element-pink {
  flex-grow: 1;
}