/* 1. exercice-flex */
.exercice-flex .container-small {
  align-items: stretch;
  display: flex;
}
/* 2. exercice-flex-2 */
.exercice-flex-2 .container-small {
  display: flex;
  align-items: center;
}
/*3. exercice-align-content-1 */
.exercice-align-content-1 .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-content: center;
}
/*4. exercice-align-content-2 */
.exercice-align-content-2 .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
/*5. exercice-align-content-3 */
.exercice-align-content-3 .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-items: center;
}

/* .exercice-align-content-3 .element-pink {
  justify-content: flex-start;
} */

/*6. exercice-flex-grow-1 */
.exercice-flex-grow-1 .container-small {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.exercice-flex-grow-1 .element-red {
  flex-grow: 1;
}
/*7. exercice-flex-grow-2 */
.exercice-flex-grow-2 .container-small {
  display: flex;
  flex-direction: column;
}

.exercice-flex-grow-2 .element-green {
  flex-grow: 1;
}
/*8. exercice-flex-grow-3 */
.exercice-flex-grow-3 .container-small {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.exercice-flex-grow-3 .element-blue {
  flex-grow: 0.4;
}

.exercice-flex-grow-3 .element-red {
  flex-grow: 0.3;
}

.exercice-flex-grow-3 .element-green {
  flex-grow: 0.3;
}
/*8. exercice-all-in */
.exercice-all-in .container-small {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap-reverse;
}

.exercice-all-in .element-pink {
  flex-grow: 1;
}

.exercice-all-in .element-yellow {
  flex-grow: 0.5;
}

.exercice-all-in .element-gray {
  flex-grow: 0.5;
}

.exercice-all-in .element-red {
  flex-grow: 0.3;
}

.exercice-all-in .element-blue {
  flex-grow: 0.4;
}

.exercice-all-in .element-green {
  flex-grow: 0.3;
}