
/* 1. exercice-flex */

.container {
  display: flex;
}
.exercice-flex {
  display: flex;
  flex-direction: row;
}

/* 2. exercice-flex-2 */

.exercice-flex-2 .container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*3. exercice-align-content-1 */

.exercice-align-content-1 .container {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap-reverse;
}

/*4. exercice-align-content-2 */

.exercice-align-content-2 .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*5. exercice-align-content-3 */

.exercice-align-content-3 .container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  align-content: space-between;
}

/*6. exercice-flex-grow-1 */

.exercice-flex-grow-1 .container {
  display: flex;
}

.exercice-flex-grow-1 .element-red {
  flex-grow: 1;
}

/*7. exercice-flex-grow-2 */

.exercice-flex-grow-2 .container{
  display: flex;
  flex-direction: column;
}

.exercice-flex-grow-2 .element-green {
  flex-grow: 1;
}

/*8. exercice-flex-grow-3 */

.exercice-flex-grow-3 .container {
  display: flex;
}

.exercice-flex-grow-3 .element-green, 
.element-red {
  flex-grow: 1;
}

/*8. exercice-all-in */

.exercice-all-in .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.exercice-all-in .element-pink,
.element-yellow,
.element-gray,
.element-blue {
  flex-grow: 1;
}
