.exercice-flex .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
}

.exercice-flex-2 .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.exercice-align-content-1 .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap-reverse;
}

.exercice-align-content-2 .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
}

/*5. exercice-align-content-3 */

/*6. exercice-flex-grow-1 */

/*7. exercice-flex-grow-2 */

/*8. exercice-flex-grow-3 */

/*8. exercice-all-in */
